<a href="https://colab.research.google.com/github/krista0618/krista/blob/krista/Occupation_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연습3 감 잡기

이번에는 데이터를 인터넷에서 직접 가져올 겁니다. https://github.com/justmarkham 에게 자료와 교재를 제공해줘서 특별히 감사를 전합니다.

### 단계 1. 필요한 라이브러리를 다운로드한다.

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 단계2. 자료를 불러온다.

In [6]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

### 단계4. 첫 25개 열을 본다.

In [9]:
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### 단계5. 마지막 10개 열을 본다.

In [10]:
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### 단계 6. 자료에 있는 관측치(observations)의 수는 총 몇 개인가?

In [29]:
users.shape[0]

943

### 단계 7. 데이터 셋에 있는 열(columns)의 수는 총 몇 개인가?

In [85]:
users.count

AttributeError: ignored

### 단계 8. 모든 열의 이름을 출력(print)한다.

In [11]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 단계 9. 자료는 어떻게 색인되어 있나?

In [22]:
print(type(users))

<class 'pandas.core.frame.DataFrame'>

### 단계 10. 각 열의 자료형(data type)은 무엇인가?

In [13]:
print(users.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 단계 11. 직업(occupation) 열만 출력한다.

In [14]:
occupation_users = users['occupation']
print(occupation_users)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### 단계 12. 이 자료에는 서로 다른 직업이 얼마나 있는가?

In [63]:
users['occupation'].nunique()

21

### 단계 13. 가장 흔한 직업은 무엇인가?

In [65]:
most_freq_occupation = users['occupation'].value_counts(dropna = True).idxmax()
print(most_freq_occupation)

student

### 단계 14. 데이터 프레임을 요약한다.

In [86]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### 단계 15. 모든 열을 요약한다.

In [44]:
type = ['int64', 'object']
users.describe(include = type)

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### 단계 16. 오직 직업(occupation)열만 요약한다.

In [71]:
occupation_users = users['occupation']
occupation_users.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 단계 17. users의 평균 나이(age)는 얼마인가? (반올림하자.)

In [107]:
round(users['age'].mean(),0)
round(users['age'].mean(),1)
round(users['age'].mean(),2)

34.05

### 단계 18. 빈도가 가장 적은 나이는 무엇인가?

In [70]:
least_freq_age = users['age'].value_counts(dropna = True).idxmin()
print(least_freq_age)

11